@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gradient-to-r from-gray-900 to-gray-800;
}

.nuxt-link-exact-active div {
  @apply bg-green-400 rounded transform translate-x-2 transition-all duration-300;
}

